services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/workspace
      - cargo-cache:/root/.cargo/registry
      - cargo-git:/root/.cargo/git
      - target-cache:/workspace/target
    ports:
      - "8080:8080"
    working_dir: /workspace
    stdin_open: true
    tty: true
    command: bash

volumes:
  cargo-cache:
  cargo-git:
  target-cache:
